<div class='loginForm' ng-controller='detailUser'>
	<div class='outputForm'>
	<div class='log'>User's Details:-</div>
	<div class='outputField'>
	<div class='log'>Subscription Name:- {{userdata.subscriptionName}}</div>
	</div>
	<div class='outputField'>
	<div class='log'>Email:- {{userdata.email}}</div>
	</div>
	<div class='outputField'>
	<div class='log'>Password:- {{userdata.password}}</div>
	</div>
	<div class='outputField'>
	<button type='button' class='cancelbtn' ng-click='back()'><span class='clear'>Back</span></button>
	</div>
	</div>
	
</div>